

#work .MuiPaper-root {
    position: relative;
    top: auto;
    width: 100%;
    min-width: none;
}

.firstButton {
    margin-top: 20px;
    min-width: 150px;
}

.MuiToolbar-regular {
    background-color: #0091ff;
}
// .MuiContainer-maxWidthXs {
//     @include vendor('flex-grow', '1');
//     @include vendor('flex-shrink', '1');
//     @include vendor('display', 'flex');
//     @include vendor('align-items', 'center');
//     @include vendor('justify-content', 'center');
//     @include vendor('flex-direction', 'column');
//     position: relative;
//     z-index: 5;
//     padding-bottom: 10px;

// }

.MuiToolbar-root {
    position: absolute;
}

.User {
    @include vendor('flex-grow', '1');
    @include vendor('flex-shrink', '1');
    @include vendor('display', 'flex');
    @include vendor('align-items', 'center');
    @include vendor('justify-content', 'center');
    @include vendor('flex-direction', 'column');
    position: relative;
    max-width: 100%;
    z-index: 5;
    padding-bottom: 10px;

    img {
      max-width: 30%;
      padding-bottom: 10%; 
    }

    button {
        background-color: #0091ff;
        box-shadow: none;
        font-family: 'Amazon Ember', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-weight: bold;
        letter-spacing: 0.2mm;
        color: white;
        font-size: 92%;
        margin-bottom: 5%;
    }

    .signOutButton > * {
        border-radius: 3%!important;
        min-width: 150px!important;
    }

    button:hover {
        opacity: 0.7;
    }

}

.userPortalScreen {
    @include vendor('flex-grow', '1');
    @include vendor('flex-shrink', '1');
    @include vendor('display', 'flex');
    @include vendor('align-items', 'center');
    @include vendor('justify-content', 'center');
    @include vendor('flex-direction', 'column');
    position: relative;
    max-width: 100%;
    z-index: 5;
    padding-bottom: 10px;

    img {
    //   padding-bottom: 10%; 
    }

    button {
        background-color: #0091ff;
        box-shadow: none;
        font-family: 'Amazon Ember', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-weight: bold;
        letter-spacing: 0.2mm;
        color: white;
        font-size: 92%;
        margin-bottom: 5%;
        width: fit-content;
    }

    .signOutButton > * {
        border-radius: 3%!important;
    }

    button:hover {
        opacity: 0.7;
    }
}

.signOutButton {
    border-radius: 4%!important;
    min-width: 150px!important;
}